*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background-image: url("../images/background.jpeg");
  /*background: #c1bdba;*/
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}

a:hover {
  color: #179b77;
}

.form {
  background: rgba(15, 30, 34, 0.9);
  padding: 40px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.form2 {
  /*background: rgba(15, 30, 34, 0.9);*/
  position: relative;
  padding: 40px;
  max-width: 600px;
  margin: -580px 80px 20px 700px;
  border-radius: 4px;
  /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
}

.form3 {
  background: rgba(15, 30, 34, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 60px 80px 120px 240px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.col-md-6{
  padding-left: 0px;
  padding-right: 0px;
}

.approve {
  border: none;
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.approve:hover {
  background: #179b77;
  color: #ffffff;
}

.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}

.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

.bigwords {
  text-align: center;
  color: #030303;
  font-weight: 400;
  font-size: 3rem;
  margin: 0 0 40px;
}

.smallwords {
  text-align: center;
  color: #030303;
  font-weight: 400;
  font-size: 2rem;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button2 {
  border: 0;
  outline: none;
  border-radius: 0;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  background-color: transparent;
  color: #030303;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover,
.button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.button-block2 {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.body-homepage {
  margin: 0;
}

.navbar-homepage {
  overflow: hidden;
  background-color: rgba(15, 30, 34, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  margin-left:auto;
  margin-right: auto;
}

.navbar-homepage a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-homepage span a {
  padding: 0px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar-homepage form input {
  width: 80%;
  border-right: none;
}

#adminpage {
  float: right;
}

.navbar-homepage a:hover {
  background: #1ab188;
  color: black;
}

.main-homepage {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

.logout:hover,
.logout:focus {
  background: none;
}

.menu {
  height: 71px;
  text-align: right;
}

.content {
  margin-top: 50px;
  margin-left: 100px;
  width: 100%;
  clear: both;
}

.content h2 {
  margin: 0 0 10px 0;
  color: #555;
  border-bottom: 2px solid #abb;
}

.content h2 a {
  color: #fff;
  font-weight: normal;
}
.content h2 a:hover {
  color: #269;
  text-decoration: none;
  background: none;
}

.content p {
  margin: 0 0.5em 1.2em 0.5em;
}


.entry {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  border: 2px solid #fff;
  background: rgba(15, 30, 34, 0.9);
  color: #fff;
  padding: 10px 10px 0 10px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.entry a:hover,
.intro a:hover {
  text-decoration: none;
  padding-bottom: 2px;
}

.request_title{
  padding-left:10px;
}

.request_descritpion{
  padding-left:10px;
}

.pagenav {
  color: #888;
  text-align: center;
}

.meta {
  clear: both;
  border-top: 2px solid #ccc;
  padding: 5px 1px 0 0;
  margin: 10px 0 0 0;
  text-align: right;
  font-size: 0.9em;
  color: #567;
}

.sidenav {
  height: 100%;
  margin-top: 47px;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#searchform {
  float: right;
  display: inline-block;
  margin-top: 5px;
  padding-right: 10px;
}

#searchButton {
  float: right;
  width: 20%;
  margin-top: -38px;
  padding: 9px;
  background: #1ab188;
  color: white;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

#logoutButton {
  background: #1ab188;
  border: none;
  padding: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.entry .tab-group li a {
  width: 25%;
}

@media screen and (max-height: 400px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.logoutSpan {
  float: right;
}

.remove {
  display: none;
}

.show {
  display: block;
}

.no_display{
  display: none;
}

.display{
  display: block;
}

